{% extends 'layouts/base.html' %}

{% block content %}

<div class="card text-center" style="width: 18rem;">
    <form method="POST">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" label="Username">
            </li>
            <li class="list-group-item">
                <label for="full_name">Nombre completo</label>
                <input type="text" name="full_name" id="full_name" label="full_name">
            </li>
            <li class="list-group-item">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" label="Password">
            </li>
            <li class="list-group-item">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <input type="submit" value="Registrarse">
                    <a href="/login">
                        <button type="button" class="btn btn-warning">Volver</button></a>
                </div>
            </li>

        </ul>
    </form>
    <p>{{mensaje}}</p>
</div>

{% endblock %}